
/* 
Taking colors from Garnet of the crystal gems today

Dark Purple: #25195f
Lighter Purple: #50389c
Crimson: #65204e
Pink #ba2388
Light grey: #87888d
Dark grey: #424448

*/

.App {
  text-align: center;
  background-color: #50389c;
}

.App-header {
  background-color: #25195f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.myTable {
  background-color: #87888d;
}